/Source
/obj
/bin/Debug/Ninject.dll
/bin/Debug/Ninject.Web.Common.dll
/bin/Debug/Ninject.Web.Common.xml
/bin/Debug/Ninject.xml
/bin/Debug/RazorEngine.dll
/bin/Debug/RazorGenerator.Mvc.dll
/bin/Debug/System.Web.Helpers.dll
/bin/Debug/System.Web.Helpers.xml
/bin/Debug/System.Web.Mvc.dll
/bin/Debug/System.Web.Mvc.xml
/bin/Debug/System.Web.Razor.dll
/bin/Debug/System.Web.Razor.xml
/bin/Debug/System.Web.WebPages.Deployment.dll
/bin/Debug/System.Web.WebPages.Deployment.xml
/bin/Debug/System.Web.WebPages.dll
/bin/Debug/System.Web.WebPages.Razor.dll
/bin/Debug/System.Web.WebPages.Razor.xml
/bin/Debug/System.Web.WebPages.xml
/bin/Debug/Telerik.Sitefinity.dll
/bin/Debug/Telerik.Sitefinity.Frontend.Data.dll
/bin/Debug/Telerik.Sitefinity.Frontend.dll
/bin/Debug/Telerik.Sitefinity.Frontend.xml
/bin/Debug/Telerik.Sitefinity.Model.dll
/bin/Debug/Telerik.Sitefinity.Model.xml
/bin/Debug/Telerik.Sitefinity.Mvc.dll
/bin/Debug/Telerik.Sitefinity.Mvc.xml
/bin/Debug/Telerik.Sitefinity.Personalization.dll
/bin/Debug/Telerik.Sitefinity.Personalization.xml
/bin/Debug/Telerik.Sitefinity.Resources.dll
/bin/Debug/Telerik.Sitefinity.Resources.xml
/bin/Debug/Telerik.Sitefinity.Search.dll
/bin/Debug/Telerik.Sitefinity.Search.xml
/bin/Debug/Telerik.Sitefinity.Services.Comments.dll
/bin/Debug/Telerik.Sitefinity.Services.Comments.xml
/bin/Debug/Telerik.Sitefinity.Services.Documents.dll
/bin/Debug/Telerik.Sitefinity.Services.Documents.xml
/bin/Debug/Telerik.Sitefinity.Services.Events.dll
/bin/Debug/Telerik.Sitefinity.Services.Events.xml
/bin/Debug/Telerik.Sitefinity.Services.Notifications.dll
/bin/Debug/Telerik.Sitefinity.Services.Notifications.xml
/bin/Debug/Telerik.Sitefinity.Services.RecycleBin.dll
/bin/Debug/Telerik.Sitefinity.Services.RecycleBin.xml
/bin/Debug/Telerik.Sitefinity.Services.Statistics.dll
/bin/Debug/Telerik.Sitefinity.Services.Statistics.xml
/bin/Debug/Telerik.Sitefinity.SiteSync.dll
/bin/Debug/Telerik.Sitefinity.SiteSync.xml
/bin/Debug/Telerik.Sitefinity.Utilities.dll
/bin/Debug/Telerik.Sitefinity.Utilities.xml
/bin/Debug/Telerik.Sitefinity.xml
/bin/Debug/WebActivatorEx.dll
/bin/Debug/WindowsAzureEventSource.dll
/bin/Debug/WindowsAzureTelemetryEvents.dll
/bin/Debug/Lino.TheTrainingBoss.RotatingCarousel.dll
/bin/Debug/Lino.TheTrainingBoss.RotatingCarousel.dll.config
/bin/Debug/Lino.TheTrainingBoss.RotatingCarousel.pdb
/bin/Debug/Microsoft.Web.Infrastructure.dll
/bin/Debug/Microsoft.WindowsAzure.Diagnostics.dll
/bin/Debug/Microsoft.WindowsAzure.ServiceRuntime.dll
/bin/Debug/MonAgentListener.dll
